<div class="row">
  <div class="col col-4">
    <%= render "shared/user_info" %>
    <%= render partial: "posts/form", locals: { post: @post } %>
  </div>
  <%#! Turbo frame to append the post onces created %>
  <div class="col col-7 overflow-auto" id="posts_container" style="height: 80vh;>
    <% @posts.each do |post| %>
      <%= render partial: "posts/post",locals:{post: post} %>
    <% end %>
  </div>
</div>