<%= turbo_frame_tag "comments_#{dom_id(@post)}" do %>
  <div class="comments-section">
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    <% else %>
      <p>No comments yet</p>
    <% end %>
  </div>
<% end %>