<%= turbo_frame_tag "comments_#{dom_id(@post)}" do %>
  <div class="comments-section">
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    <% else %>
      <div class="alert alert-info" role="alert">
        No comments yet. Be the first to comment!
      </div>
    <% end %>
  </div>
<% end %>