<div class="d-flex flex-column flex-lg-row gap-2 w-100">
  <%= render partial: "shared/follow_unfollow",locals:{user: user} %>
  <% unless user == current_user  %>
    <%= link_to chat_message_path(user), class: "btn btn-sm btn-light border-info text-info" do %>
      <i class="fas fa-envelope"></i> Message
    <% end %>
  <% end %>
  <div>
    <%= link_to "#", class: "btn btn-sm btn-light border-success text-success" do %>
      <i class="fas fa-network-wired"></i> Mutual
    <% end %>
  </div>
  <small class="text-secondary"> coming soon</small>
</div>