<div class="d-flex flex-column flex-lg-row gap-2 w-100">
  <%= link_to "#", class: "btn btn-sm btn-light border-primary text-primary" do %>
    <i class="fas fa-user-friends"></i> Friends
  <% end %>
  <%= link_to "#", class: "btn btn-sm btn-light border-info text-info" do %>
    <i class="fas fa-envelope"></i> Message
  <% end %>
  <%= link_to "#", class: "btn btn-sm btn-light border-success text-success" do %>
    <i class="fas fa-network-wired"></i> Mutual
  <% end %>
</div>