<%= form_with(model: post, local: false, class: "p-4 bg-white shadow-sm rounded") do |f| %>
  <div class="form-outline mb-4">
    <%= f.text_area :body, 
        class: "form-control active", 
        id: "post_body",
        rows: 4 %>
    <label class="form-label" 
           for="post_body" 
           style="background-color: white; margin-left: 0;">
      Update your post
    </label>
  </div>
  <div class="d-flex justify-content-end gap-2">
    <%= f.submit "Update", 
        class: "btn btn-primary ripple-surface" %>
    <%= link_to "Cancel", 
        posts_path,
        class: "btn btn-light",
        data: { turbo_frame: dom_id(post) } %>
  </div>
<% end %>
<script>
  document.addEventListener('turbo:load', function() {
    new mdb.Input(document.querySelector('.form-outline')).init();
  });
</script>